* {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 100%;
	max-width: 520px;
	margin: 50px auto;
	border: 1px solid #d9d9d9;
}

h2 {
	font-size: 2rem;
	margin: 20px;
}

.field {
	display: flex;
	flex-direction: column;
	margin: 20px;
}

label {
	margin-bottom: 10px;
}
input {
	width: 450px;
	padding: 10px;
	margin: 0px;
	font-size: 1rem;
	border: 1px solid #d9d9d9;
}

.resultado {
	padding: 15px;
	width: 450px;
	margin: 20px auto;
	background: #cce5ff;
	border: 1px solid #007bff;
	color: #007bff;
}

.btn {
	background: #007bff;
	padding: 10px 15px;
	color: #ffffff;
	font-size: 1rem;
	text-align: center;
	margin: 0 0 20px 20px;
	border: 1px solid #007bff;
	border-radius: 5px;
	cursor: pointer;
}
