.nav {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin: 20px 120px;
	color: #fff;
}

.nav-logo {
	font-family: "Poppins", sans-serif;
	font-size: 1.2rem;
	font-weight: 500;
}

.nav-menu {
	display: flex;
	align-items: center;
	list-style-type: none;
	font-size: 1.2rem;
	gap: 90px;
}

.nav-contact {
	border-radius: 50px;
	padding: 10px 38px;
	background: #fff;
	color: #262626;
}
