* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: "Roboto", sans-serif;
}

#container {
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
}

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	background: #fff;
	height: 100px;
	margin-bottom: 500px;
	width: 85%;
}
.logo {
	font-size: 3rem;
	color: #180f4a;
	text-decoration: none;
	font-family: "Lobster", sans-serif;
}

#menu ul {
	display: flex;
	list-style-type: none;
	gap: 20px;
	margin-left: auto;
}
#menu ul a {
	font-size: 1.5rem;
	color: #180f4a;
}

a {
	text-decoration: none;
}

.contato {
	text-decoration: none;
	font-size: 1.5rem;
	background: #180f4a;
	color: #fff;
	padding: 10px 20px;
	border-radius: 10px;
}

main {
	display: grid;
	grid-template-columns: 1fr 1fr;
	padding-top: 70px;
}
main .conteudo-esquerda {
	height: 600px;
}

main .conteudo-esquerda h3 {
	font-size: 1.5rem;
	letter-spacing: 15px;
	margin-bottom: 20px;
	margin-top: 80px;
	font-family: "Roboto", sans-serif;
	color: #180f4a;
}
main .conteudo-esquerda h1 {
	font-size: 6rem;
	margin-bottom: 50px;
	font-family: "Roboto", sans-serif;
	color: #180f4a;
}
main .conteudo-esquerda p {
	font-size: 1rem;
	font-family: "Roboto", sans-serif;
}
main .conteudo-esquerda a {
	font-size: 1.2rem;
	color: #fff;
	background: #ff2978;
	display: inline-block;
	margin-top: 30px;
	padding: 20px;
	border-radius: 10px;
}

main .img-direita img {
	width: 100%;
}

.conteudo-embaixo h2 {
	text-align: center;
	font-size: 2rem;
	margin-bottom: 40px;
	margin-top: 40px;
	font-family: "Lobster", sans-serif;
	font-size: 3rem;
	color: #180f4a;
}

main .conteudo-embaixo {
	display: grid;
	grid-column: span 2;
}

.serviços {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
}

.card-site {
	width: 384px;
	height: 400px;
	border-radius: 10px;
	background: url(../img/pc.png) no-repeat center 20px;
	text-align: center;
	padding-top: 100px;
	border: 1px solid #ff2978;
}

.card:hover {
	margin-top: 50px;
}
.card-app {
	width: 384px;
	height: 400px;
	border-radius: 10px;
	background: url(../img/smartphone.png) no-repeat center 20px;
	text-align: center;
	padding-top: 100px;
	border: 1px solid #ff2978;
}

.card-marketing {
	width: 384px;
	height: 400px;
	border-radius: 10px;
	background: url(../img/marketing.png) no-repeat center 20px;
	text-align: center;
	padding-top: 100px;
	border: 1px solid #ff2978;
}

.card-site h3 {
	padding-bottom: 20px;
}
.card-app h3 {
	padding-bottom: 20px;
}
.card-marketing h3 {
	padding-bottom: 20px;
}

#rodape {
	background-image: linear-gradient(to bottom, #180f4a, #090422, #000);
	height: 400px;
	text-align: center;
	color: #fff;
	margin-top: 200px;
	border: 4px solid #ff2978;
}

#rodape a {
	display: block;
	padding-top: 100px;
	color: #fff;
	font-size: 3rem;
	font-family: "Lobster", sans-serif;
}
#rodape span {
	display: block;
	padding-top: 20px;
	font-size: 1.2rem;
}
#rodape span#direito {
	display: block;
	padding-top: 150px;
	font-size: 1.2rem;
}

.whats {
	position: fixed;
	right: 5px;
	bottom: 0;
	width: 100px;
}

/* Responsividade */
@media screen and (max-width: 1005px) {
	header {
		display: grid;
		grid-template-columns: 1fr 1fr 1fr;
		width: 100%;
		padding-left: 10px;
		padding-right: 10px;
	}

	.logo {
		font-size: 2rem;
	}
	#menu ul a {
		font-size: 1.2rem;
		padding-right: 25px;
	}

	.contato {
		font-size: 1rem;
		background: #180f4a;
		color: #fff;
		padding: 5px;
		text-align: center;
		border-radius: 10px;
	}

	main {
		grid-template-columns: 1fr;
		justify-items: center;
		padding-left: 10px;
		padding-right: 10px;
	}

	main .conteudo-embaixo {
		grid-column: span 1;
	}
	main .conteudo-embaixo .img-direita img {
		width: 20%;
	}
	main .conteudo-esquerda {
		text-align: center;
	}
	main .conteudo-esquerda p {
		text-align: justify;
	}
	.serviços {
		display: grid;
		grid-template-columns: 1fr;
		justify-items: center;
	}
}
