header {
	min-height: 80vh;
	display: grid;
	grid-template-columns: 1fr 1fr;
	justify-self: center;
	gap: 4rem;
	scroll-margin-top: 20rem;
}

header .header__left {
	max-width: 62rem;
	flex: 1;
}
header .header__left p {
	margin-top: 2rem;
	margin-bottom: 4rem;
	max-width: 50rem;
}

header .header__right .header__image {
	position: relative;
	line-height: 0;
}
header .header__right .header__image::after {
	content: "";
	display: block;
	width: 100%;
	height: 100%;
	border: 1px solid var(--tertiary-color);
	position: absolute;
	top: -1.5rem;
	right: -1.5rem;
	border-radius: 0.5rem;
	z-index: -1;
}

header .header__right .header__image .andrey {
	border-radius: 0.5rem;
	min-width: 25rem;
	max-width: 100%;
}
header .header__right .header__image .back {
	position: absolute;
	top: -4rem;
	right: -2.5rem;
	z-index: -1;
}

.techs {
	display: flex;
	justify-content: space-around;
	width: 100%;
	gap: 3rem;
	margin: auto;
	font-size: 2rem;
	color: var(--secondary-color);
	opacity: 0.8;
	grid-column: span 2;
}
/* .techs span {
	margin-right: 150px;
}
.techs span:not(:last-of-type) {
	margin-right: 150px;
} */
@media only screen and (max-width: 768px) {
	header {
		flex-direction: column-reverse;
		text-align: center;
	}

	header .header__left p {
		margin: 2rem auto 4rem;
	}
}
