* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 0;
	font-family: Arial, Helvetica, sans-serif;
	background: #eeeeee;
}

h1 {
	text-align: center;
	font-size: 3rem;
}

header {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* flex-flow: row wrap; */
	width: 80%;
	margin: auto auto;
}

input {
	height: 120px;
	font-size: 2rem;
	width: 80%;
	padding-left: 10%;
	border-top-left-radius: 15px;
	border-bottom-left-radius: 15px;
}

button.add {
	font-size: 1.3rem;
	width: 20%;
	cursor: pointer;
	background: green;
	color: #fff;
	font-weight: bold;
	border: none;
	height: 120px;
	border-top-right-radius: 15px;
	border-bottom-right-radius: 15px;
}

main {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	/* flex-flow: row wrap; */
	width: 90%;
	margin: auto auto;
	padding-top: 40px;
}

.item {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	background: #fff;
	height: 80px;
	width: 100%;
	box-shadow: 0 0 20px 10px #0003;
	margin-bottom: 20px;
	cursor: pointer;
}

.item.clicado {
	background: #d4f6d9;
}

.item.clicado .item-nome {
	text-decoration: line-through;
	color: gray;
}

.item-icone {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 20%;
	/* flex: 0 0 20%; */
	text-align: center;
	font-size: 2rem;
}

.item-nome {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 55%;
	/* flex: 0 0 55%; */
	font-size: 1.7rem;
}

.item-botao {
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: 25%;
	/* flex: 0 0 25%; */
}

.delete {
	background: red;
	font-size: 1.2rem;
	color: #fff;
	border: none;
	padding: 10px;
	height: 80px;
	width: 100%;
	cursor: pointer;
}

.mdi-check-circle {
	color: green;
}
