* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
}

.container {
	width: 80%;
	margin: 50px auto;
	background: #e9ecef;
	border-radius: 5px;
}

.tela {
	width: 90%;
	margin: 0px auto;
	padding: 50px 0;
}

h1 {
	font-size: 2.5rem;
	color: #28a745;
	padding-bottom: 10px;
	border-bottom: 1px solid #d9d9d9;
}

p {
	padding-top: 20px;
	padding-bottom: 20px;
	font-size: 3rem;
	font-weight: 100;
	color: #343a40;
	line-height: 60px;
	word-spacing: 5px;
	border-bottom: 1px solid #d9d9d9;
}

.btn {
	margin-top: 10px;
	background: #28a745;
	border: none;
	padding: 10px 20px;
	color: #ffffff;
	font-size: 1rem;
	border-radius: 5px;
	cursor: pointer;
}

/* Sorte é o que acontece quando a preparação encontra a oportunidade. */
