* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	list-style-type: none;
	font-family: "Poppins", sans-serif;
}

body {
	background: #000;
	color: #fff;
	font-size: 16px;
	overflow: hidden;
}

header {
	width: 80vw;
	position: fixed;
	left: 50%;
	transform: translateX(-50%);
	display: grid;
	grid-template-columns: 1fr 600px;
	gap: 10%;
	z-index: 2;

	& .logo {
		text-decoration: none;
		color: #ffffff;
		padding-top: 10px;
		font-family: "League Gothic", sans-serif;
		font-size: 1.2rem;
		font-size: 2rem;
	}

	& nav {
		margin: auto 0;
		& ul {
			display: grid;
			grid-template-columns: repeat(3, 200px);

			& li {
				& a {
					text-decoration: none;
					color: #fff;
				}
			}
		}
	}
}

section {
	background: radial-gradient(circle at top, #1e293b, #020617);
	height: 100vh;
	position: relative;

	& .lista {
		width: 70vw;
		height: 100%;
		margin: auto;
		position: relative;

		& .item {
			position: absolute;
			inset: 0;

			& .carro-img {
				position: absolute;
				top: 50%;
				transform: translateY(-50%);
				width: 70%;

				& img {
					width: 89%;
					transform: rotate(-30deg);
				}

				&::before {
					content: "";
					position: absolute;
					background: #000;
					width: 100%;
					height: 100px;
					top: 150%;
					left: 50px;
					border-radius: 50%;
					filter: blur(50px);
				}
			}

			& .conteudo {
				position: absolute;
				right: 100px;
				width: 70%;
				height: 100%;
				display: flex;
				flex-direction: column;
				justify-content: center;
				align-items: flex-end;
				gap: 20px;

				& .car-information {
					font-weight: bold;
				}

				& h2 {
					font-size: 8em;
					line-height: 1em;
					font-family: "League Gothic", sans-serif;
				}

				& .descricao {
					color: #d9d9d9;
					font-size: 16px;
					text-align: justify;
					max-width: 400px;
					padding-top: 20px;
				}

				& .botao-saiba {
					border-radius: 30px;
					height: 35px;
					width: 120px;
					text-transform: uppercase;
					background: #beff1b;
					color: #000;
					cursor: pointer;
					font-family: "League Gothic", sans-serif;
					font-size: 1.2rem;
				}
			}
		}

		&::before {
			content: "";
			position: absolute;
			height: 200px;
			width: 100%;
			top: 50%;
			border-top: 1px solid #fff;
		}
	}

	& .setas {
		width: 70vw;
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -25px);
		display: flex;
		justify-content: space-between;

		& button:nth-child(1) {
			transform: scale(-1);
		}

		& button {
			top: 60%;
			width: 50px;
			height: 50px;
			border-radius: 50%;
			opacity: none;
			cursor: pointer;

			& img {
				width: 30px;
				margin-top: 4px;
				cursor: pointer;
			}

			&:hover {
				background: #beff1b;
			}
		}
	}

	& .indicador {
		position: absolute;
		top: 50%;
		left: 50%;
		height: 200px;
		transform: translateX(-50%);
		width: 90vw;
		display: flex;
		flex-direction: column;
		justify-content: flex-end;
		gap: 15px;

		& .numero {
			font-size: 5em;
			font-family: "League Gothic", sans-serif;
		}

		& ul {
			display: flex;
			gap: 10px;

			& li {
				width: 50px;
				height: 5px;
				background: #beff1b;
				border-radius: 5px;
				transition: 0.5;
			}

			& .ativo {
				background: #fff;
			}
		}
	}
}

/* Animação */
section {
	& .lista {
		--calculo: 1;
		& .item {
			transform: translateX(calc(100vw * var(--calculo)));
			transition: 0.5s;
			opacity: 0;

			& .carro-img {
				& img {
					transform: rotate(0deg);
					transition: 0.5s;
					transition-delay: 0.3s;
				}
			}

			& .conteudo {
				& .car-information,
				h2,
				.descricao,
				.botao-saiba {
					transform: translateX(calc(200vw * var(--calculo)));
					transition: 0.7s;
					transition-delay: 0.3s;
					opacity: 0;
				}

				& h2 {
					transition-delay: 0.5s;
				}

				& .descricao {
					transition-delay: 0.7s;
				}
				& .botao-saiba {
					transition-delay: 0.9s;
				}
			}
		}

		& .ativo {
			transform: translateX(0);
			transition: 0.5s;
			opacity: 1;

			& .carro-img {
				& img {
					transform: rotate(-20deg);
					transition: 0.5s;
					transition-delay: 0.3s;
				}
			}

			& .conteudo {
				& .car-information,
				h2,
				.descricao,
				.botao-saiba {
					transform: translateX(0);
					opacity: 1;
				}
			}
		}
	}
}
