#oficina {
	padding-top: 120px;
	min-height: 100vh;
	background: #ffffff;
}

#oficina h2,
#oficina h3,
#oficina p {
	text-align: center;
}

#oficina h2 {
	color: var(--cor-primary);
	margin-bottom: 10px;
	font-size: var(--font-36);
}
#oficina h3 {
	text-transform: uppercase;
	color: var(--cor-secondary);
}
#oficina p {
	margin-top: 15px;
	margin-bottom: 20px;
	color: #000000;
}
.imagens {
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 20px;
}

.img-grande {
	height: 100%;
}

.img-grande img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}

.img-pequena {
	display: grid;
	grid-template-columns: 1fr 1fr;
	height: 100%;
	gap: 20px;
}

.img-pequena img {
	width: 100%;
	height: 100%;
	border-radius: 10px;
}
