.services {
	margin: 0 auto;
}

.mid-text {
	text-align: center;
}

.mid-text img {
	width: 100%;
	height: auto;
	max-width: 80px;
}

.mid-text h2 {
	font-size: var(--h2-font);
	font-weight: 500;
	margin-bottom: 5px;
}

.mid-text p {
	font-size: var(--p-font);
	font-weight: 500;
	line-height: 28px;
}

.services__content {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(200px, auto));
	align-items: center;
	gap: 2rem;
	margin-top: 5rem;
}

.s-img img {
	overflow: hidden;
	border-radius: 20px 20px 0px 0px;
}
.s-img img {
	display: block;
	width: 100%;
	height: 100%;
	object-fit: cover;
	transition: transform 0.7s;
	/* cursor: pointer; */
}

/* .s-img img:hover {
	transform: scale(1.1);
} */

.box {
	border-width: 1px 4px 4px 1px;
	border-style: solid;
	border-color: var(--text-color);
	border-radius: 20px;
	padding: 0px 0px 25px 0px;
	box-shadow: 0px 5px 40px rgba(19 8 73 / 13%);
	transition: all 0.4s ease;
}

.box-in {
	margin-top: 20px;
	display: flex;
	flex-wrap: nowrap;
	justify-content: space-between;
	gap: 15px;
	padding: 5px 30px;
}
.box-in .box-left p {
	font-size: var(--p-font);
	text-align: justify;
	font-weight: 500;
	line-height: 28px;
}

.box-right h5 {
	font-size: 18px;
	font-weight: 700;
	margin-bottom: 2px;
}

.box-right i {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	height: 40px;
	width: 40px;
	background: var(--text-color);
	color: var(--second-color);
	border-radius: 30px;
	transition: all 0.7s ease;
}

.box:hover i {
	transform: scale(1.3) rotate(45deg);
	color: var(--main-color);
}
